{% extends "base.html" %}

{% block main_content %}

<h2> Bienvenue dans le jeu! </h2>

<table>

	<tr>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
	</tr>
	
	<tr>
		<td> </td>
		<td class = "grise" ></td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td> </td>
	</tr>
	
	<tr>
		<td> </td>
		<td class = "grise" > </td>
		<td> </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td> </td>
		<td class = "grise" > </td>
		<td> </td>
	</tr>
	
	<tr>
		<td> </td>
		<td> </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td> </td>
		<td> </td>
	</tr>
	
	<tr>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
	</tr>
	
	<tr>
		<td> </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td> </td>
	</tr>
	
	<tr>
		<td> </td>
		<td class = "grise" > </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td class = "grise" > </td>
		<td> </td>
	</tr>
	
	<tr>
		<td> </td>
		<td> </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td class = "grise" > </td>
		<td> </td>
		<td> </td>
	</tr>
	
	<tr>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
	</tr>

</table>

<form method="post">
	<label for="idbrique"> Quelle brique? </label>
	<label type="radio" id="id" name="jsp" value="jsp" ></label>
	<label type="radio" id="id" name="jsp" value="jsp" ></label>
	<label type="radio" id="id" name="jsp" value="jsp" ></label>
	<label type="radio" id="id" name="jsp" value="jsp" ></label>
</form>


{% endblock %}